{% extends 'layouts/blank.twig' %}

{% block content %}
    {% if survey_completed == true %}
        <div class="thank-you-pop">
            <h1>Hello, {{ session.auth.name }}</h1>
            <p>You already complete this survey, but still you can change your answer!</p>
            <a href="/survey/view" class="btn btn-success">Review Answer</a>
        </div>
    {% else %}
        <div class="thank-you-pop">
            <h1>Hello, {{ session.auth.name }}</h1>
            <p>Welcome to DEX 2.0 Survey. You have 20 minutes to complete the survey</p>
            <a href="/survey/start" class="btn btn-success">Get Started</a>
        </div>
    {% endif %}

    <br/><br/><br/><br/>
{% endblock %}

