{% extends 'layouts/blank.twig' %}

{% block content %}
    <div class="jumbotron">
        <h3>Welcome to Digital Employee Experience 2.0 Survey</h3>
        <br/>
        <p>
            <a class="btn btn-success" href="/survey/questions" role="button">View Result</a>
            <a class="btn btn-success" href="/survey/users" role="button">View Participants</a>
        </p>
    </div>
    <br/><br/><br/><br/>
{% endblock %}

