{% extends 'layouts/blank.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to Survey</h1>
        <br/>
        <p class="lead">This survey contains a list of question,  each question has 6 different types of  rating (Impact group size, Occurrence frequency, Experience impact, Business impact, Financial feasibility, Technical feasibility)</p>
        <p>
            <a class="btn btn-success" href="/survey/questions" role="button">View Result</a>
            <a class="btn btn-success" href="/survey/users" role="button">View Participants</a>
        </p>
    </div>
    <br/><br/><br/><br/>
{% endblock %}

