{% extends 'layouts/blank.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to Survey</h1>
        <br/>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="/survey/questions" role="button">View Result</a></p>
        <p><a class="btn btn-lg btn-success" href="/survey/users" role="button">View Participants</a></p>
    </div>
    <br/><br/><br/><br/>
{% endblock %}

