{% extends 'layouts/default.twig' %}

{% block content %}
    <form class="pull-right form-inline" action="/survey/questions">
        <div class="form-group">
            <input name="term" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div class="clearfix"></div><br/>
    {% for key, answer in answers.answers %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{answer.question.question}}</strong>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'elements/pagination.twig' with {'pagination': answers.pagination} %}
{% endblock %}


{% block jsBottom %}
<script>
    $(document).ready(function(){
        $('.star-rating').rating({
            size: 'sm',
            min: 0,
            max: 10,
            step: 1,
            stars: 10,
            showClear:false,
            disabled:true
        });
    });
</script>
{% endblock %}
