{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question 1:</strong> Office entry without ID card (Retina scan, proximity sensor etc.) </div>
        <div class="panel-body">
            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Impact group size</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Occurrence frequency</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Experience impact</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Business impact</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Financial feasibility</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Technical feasibility</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question 1:</strong> Office entry without ID card (Retina scan, proximity sensor etc.) </div>
        <div class="panel-body">
            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Impact group size</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Occurrence frequency</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Experience impact</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Business impact</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Financial feasibility</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Technical feasibility</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Question 1:</strong> Office entry without ID card (Retina scan, proximity sensor etc.) </div>
        <div class="panel-body">
            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Impact group size</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Occurrence frequency</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Experience impact</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Business impact</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Financial feasibility</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Technical feasibility</label>
                </div>
                <div class="question-rating">
                    <input name="input-1" value="4" class="star-rating rating-loading">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block jsBottom %}
<script>
    $(document).ready(function(){
        $('.star-rating').rating({
            size: 'sm',
            min: 0,
            max: 10,
            step: 1,
            stars: 10,
            showClear:false,
            starCaptionClasses: {
                1: 'label label-danger',
                2: 'label label-danger',
                3: 'label label-warning',
                4: 'label label-warning',
                5: 'label label-info',
                6: 'label label-info',
                7: 'label label-primary',
                8: 'label label-primary',
                9: 'label label-success',
                10: 'label label-success'
            }
        });
    });
</script>
{% endblock %}
