<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Binary Pack">
    <meta name="author" content="Binary Pack Ltd.">
    <link rel="icon" href="img/favicon.ico">
    <title>Theme Vessel Shop</title>

    <!-- CSS libraries-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <link href="/assets/css/jquery.selectBox.css" rel="stylesheet">
    <link href="/assets/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7COswald:200,300,400,500,600%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom stylesheet -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- TOP HEADER AREA START -->
<section class="top-header hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="clearfix">
                    <ul class="list-inline">
                        <li>
                            <a href="tel:+880 1721137958"><i class="fa fa-phone pr-5 pl-10"></i> +880 1721137958</a>
                        </li>
                        <li>
                            <a href="mailto:themevessel.us@gmail.com">
                                <i class="fa fa-envelope-o pr-5 pl-10"></i> themevessel.us@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="clearfix">
                    <div class="top-buttons">
                        <ul class="top-social-media pull-right">
                            <li>
                                <a href="#">Follow Us</a>
                            </li>
                            <li>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TOP HEADER AREA END -->

<!-- HEADER AREA START -->
<header class="header">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand theme-color" href="/">Theme<span class="grey-color">Shop</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Choose Categories <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                                <li><a href="/products?cat={{ category.slug }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/products?recent=true">Recent Products</a></li>
                </ul>
                {#<ul class="nav navbar-nav navbar-right">
                    <li><a href="http://static.binarypack.com/about-us">Privacy Policy</a></li>
                    <li><a href="http://static.binarypack.com/about-us">About Us</a></li>
                    <li><a href="http://static.binarypack.com/contact">Contact Us</a></li>
                    <li class="visible-xs">
                        <a href="#">Sign Up</a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">Login</a>
                    </li>
                </ul>#}
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>
<!-- HEADER AREA END -->

{% block banner %}

{% endblock %}

{% block content %}

{% endblock %}

<!-- FOOTER AREA START -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-ls-3 col-md-3 col-sm-6 footer-widget">
                <h2 class="footer-logo">
                    <a href="/" class="white-color">
                        Theme<span class="grey2-color">Shop</span>
                    </a>
                </h2>
                <p>Marketplaces and platforms can use Stripe Connect to let sellers around the world get paid. Marketplaces and platforms can use Stripe Connect to let sellers around the world get paid.</p>
            </div>

            <div class="col-ls-3 col-md-3 col-sm-6 footer-widget">
                <h2 class="footer-title">Contact Us</h2>
                <ul class="contact-nav">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <span>
                            196 Green Road, Dhanmondi, Dhaka - 1205
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <span>
                            <a href="tel:+8801721137958">+08801721137958</a>
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <span>
                            <a href="mailto:themevessel.us@gmail.com">themevessel.us@gmail.com</a>
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-globe"></i>
                        <span>
                            <a href="http://themevessel.com">http://themevessel.com</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-ls-3 col-md-3 col-sm-6 footer-widget">
                <h2 class="footer-title">Recent Items</h2>
                <div class="footer-items">
                    {% for thumb in recent_products %}
                        <img src="{{ thumb.thumb_image }}" alt="{{ thumb.title }}" class="footer-item">
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2 class="footer-title">Newsletter</h2>
                <p>arketplaces and platforms can use Stripe Connect to let sellers around the world get paid.</p>
                <form class="newsletter">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Your email address">
                    </div>
                    <button type="submit" class="newsletter-submit btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>

<section class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <p class="copyright">
                    &copy;  2017 <a href="http://themevessel.com/" target="_blank">Theme Vessel</a>. Trademarks and brands are the property of their respective owners.
                </p>
            </div>
            <div class="col-lg-4 col-sm-4">
                <ul class="social-links">
                    <li>
                        Follow Us
                    </li>
                    <li>
                        <a class="social-icons" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-icons" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-icons" href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-icons" href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a class="social-icons" href="#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER AREA END -->

<script src="/assets/js/jquery-2.2.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.selectBox.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<!-- Custom javascript -->
<script src="/assets/js/app.js"></script>
</body>
</html>