{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="container">
        <div class="single-block">
            <h1 class="title">Oops Sorry!</h1>
            <h2 class="subtitle">Invalid or Expired Link</h2>
            <div class="content">
                <p>Please request a new download link to download your desire item!</p>
            </div>
        </div>
    </div>
{% endblock %}