{% extends 'layouts/default.twig' %}

{% block banner %}
    <!-- BANNER AREA START -->
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Website Templates, Themes, UI Kits From $0.99</h1>
                <form class="search-form">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Search your desire item">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <button type="submit" class="search-item-btn">Search Item</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->
{% endblock %}

{% block content %}
    <!-- ITEMS AREA START -->
    <div class="items-area">
        <div class="container">
            <div class="item-header">
                <h2>List of Items</h2>
            </div>
            <div class="row">
                <!-- Single item -->
                {% for product in products.products %}
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        {% include 'elements/product_grid.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ITEMS AREA END -->
{% endblock %}