{% extends 'layouts/default.twig' %}

{% block banner %}
    <!-- BANNER AREA START -->
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->
{% endblock %}

{% block content %}
    <div class="contact-1 page-content">
        <div class="container">
            <div class="main-title">
                <h1>Send a Message</h1>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-md-7">
                    <form id="contactUs">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group name">
                                    <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group email">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group subject">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group number">
                                    <select class="form-control" name="purpose" required="required">
                                        <option value="Choose Purpose">Choose Purpose</option>
                                        <option>General</option>
                                        <option>Pre-sale Question</option>
                                        <option>Product Support</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group message">
                                    <textarea class="form-control message-box" name="message" placeholder="Write message" required="required"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="send-btn">
                                    <div id="google-recaptcha-widget"></div>
                                    <br/>
                                    <button type="submit" id="sendMessageBtn" class="btn btn-primary btn-md">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-offset-1 col-lg-4 col-md-5">
                    <div class="contact-info">
                        <h3>Contact Info</h3>
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Office Address</h4>
                                <p>96 Green Road, Dhanmondi, Dhaka - 1205</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Phone Number</h4>
                                <p>Mobile<a href="tel:08801721137958">: +08801721137958</a> </p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Email Address</h4>
                                <p><a href="mailto:support@themevessel.com">support@themevessel.com</a></p>
                                <p><a href="https://themevessel.com">https://themevessel.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsTop %}
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaLoad&render=explicit&hl=en" async defer></script>
{% endblock %}

{% block jsBottom %}
    <script>
        $(function () {
            document.getElementById("sendMessageBtn").disabled = true;
        })

        function enableBtn(){
            document.getElementById("sendMessageBtn").disabled = false;
        }

        function disabledBtn(){
            document.getElementById("sendMessageBtn").disabled = true;
        }

        var recaptchaLoad = function() {
            grecaptcha.render('google-recaptcha-widget', {
                'sitekey' : '{{ captcha['site-key'] }}',
                'callback': 'enableBtn',
                'expired-callback': 'disabledBtn'
            });
        }
    </script>
{% endblock %}