{% extends 'layouts/default.twig' %}

{% block banner %}
    <!-- BANNER AREA START -->
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Frequently Asked Question</h1>
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="faq" class="faq-accordion">
                        <div class="card m-b-0">
                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq"
                                   href="#collapse1">
                                    Do I need to create account for purchase product?
                                </a>
                            </div>
                            <div id="collapse1" class="card-block collapse">
                                <p>
                                    No, you don’t need to create account to purchase any product from ThemeVessel. After
                                    payment, you will get the download link in your email inbox and later with email you
                                    can request unlimited download link anytime.
                                </p>
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq"
                                   href="#collapse2">
                                    How can I purchases?
                                </a>
                            </div>
                            <div id="collapse2" class="card-block collapse">
                                <p>
                                    Purchase flow is quite easy. Go to any specific template's details page. From the
                                    right side you will get the "Buy Now" button. We currently accept PayPal. Finish
                                    payment with PayPal and you will get the product download link in your email inbox.
                                </p>
                                <img src="/assets/img/byu-now.png">
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq"
                                   href="#collapse3">
                                    Do you provide any free support for my purchased item?
                                </a>
                            </div>
                            <div id="collapse3" class="card-block collapse">
                                <p>Yes. After purchasing every item, you will get 6 month free support. You can always
                                    request for support by writing us at <a href="mailto:support@themevessel.com">support@themevessel.com</a>
                                </p>
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq"
                                   href="#collapse5">
                                    How can I get product download link again?
                                </a>
                            </div>
                            <div id="collapse5" class="card-block collapse">
                                <p>
                                    You can request download link of your purchased item anytime. <br>
                                    Just go to that item details page that you purchased. Just below the payment button,
                                    you will see a text to request download link. Click on that text link and you will
                                    get an input field. <br>
                                    Provide your exact same email address you used to purchased the item. Click submit
                                    and you will get the item download link in your email.
                                </p>
                                <img src="/assets/img/already_download.png">
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq"
                                   href="#collapse6">
                                    Do I need to buy a template for each site?
                                </a>
                            </div>
                            <div id="collapse6" class="card-block collapse">
                                <p>
                                    Our licensing terms are pretty easy to understand. Every items has it's own
                                    licensing options. See licensing details on item page.
                                </p>
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq"
                                   href="#collapse7">
                                    Requesting a refund?
                                </a>
                            </div>
                            <div id="collapse7" class="card-block collapse">
                                <p>
                                    You can request refund for any item you purchased except any free items. <br>
                                    Refunds are only applicable, if - <br>
                                </p>
                                <ul>
                                    <li>You downloaded the items but it didn't provide the same features that was
                                        described in item details page.
                                    </li>
                                    <li>There is any bug or defect in item</li>
                                    <li>You contacted us an email with the issue in details but didn't get that issue
                                        resolved
                                    </li>
                                </ul>
                                <small>*refund amount will be the total amount after deducting paypal's transaction fees</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    Frequently Asked Question - Theme Vessel
{% endblock %}