{% extends 'layouts/default.twig' %}

{% block banner %}
    <!-- BANNER AREA START -->
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Frequently Asked Question</h1>
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="faq" class="faq-accordion">
                        <div class="card m-b-0">
                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse1">
                                    Do I need to create account for purchases product?
                                </a>
                            </div>
                            <div id="collapse1" class="card-block collapse">
                                <p>
                                    No, you don’t need to create account to purchase any product from Theme Vesel.
                                </p>
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse2">
                                    How can I purchases?
                                </a>
                            </div>
                            <div id="collapse2" class="card-block collapse">
                                <p>
                                    Purchase flow is quite easy. Visite your design product details page. 
                                    On that page you will see ‘Buy Now’ PayPal button.
                                </p>
                                <img src="/assets/img/byu-now.png">
                                <p>
                                    Just click on that button and complete the payment flow.
                                </p>
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse3">
                                    Does product has any free support period?
                                </a>
                            </div>
                            <div id="collapse3" class="card-block collapse">
                                <p>Yes. After purchase your product you will get 6 month free support for each product.</p>
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse4">
                                    How can I get support?
                                </a>
                            </div>
                            <div id="collapse4" class="card-block collapse">
                                <p>
                                    Go to contact us page and choose purpose to “Product Support”.
                                    And in the contact form message area mention your purchased product name and your message. And submit your message.
                                </p>
                                <img src="/assets/img/contact-form.png">
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse5">
                                    How can I retrieve products download link?
                                </a>
                            </div>
                            <div id="collapse5" class="card-block collapse">
                                <p>
                                    If you already purchases any product and want to retrieve download link?
                                    Then go to details page of that product and  find “If you already purchase this
                                    product and want to get download link? Please click here” to retrieve download link.
                                </p>
                                <img src="/assets/img/already_download.png">
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse6">
                                    Do I need to buy a template for each site?
                                </a>
                            </div>
                            <div id="collapse6" class="card-block collapse">
                                <p>
                                    1 License = 1 website = 1 end product, but as long as it's all on the same domain, a single license is fine.
                                </p>
                            </div>

                            <div class="card-header">
                                <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse7">
                                    Requesting a refund?
                                </a>
                            </div>
                            <div id="collapse7" class="card-block collapse">
                                <p>
                                    If you purchased an item and it does not work as described or if it appears to be defective,
                                    please contact us with describe the issue(s) in detail. If a resolution cannot be found,
                                    contact support with your order number and describe the issue(s) in detail.
                                    The item will be investigated and if it is found to be defective or not working as
                                    described then it will be fixed or a refund will be granted.
                                </p>
                                <p>
                                    Please note that due to the nature of digital goods, a refund can only be granted if
                                    the item was not downloaded after purchasing, if the item is defective, or if the
                                    item does not work as described in the item's description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    Frequently Asked Question - Theme Vessel
{% endblock %}