{% extends 'layouts/default.twig' %}

{% block banner %}
    <!-- BANNER AREA START -->
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Licenses</h1>
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Usage licenses</h2>
                <hr/>
                <p>
                    Use of an item is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the item in your personal or commercial projects
                </p>
                <br/>
                <h4>Single Application License</h4>
                <hr/>
                <ul>
                    <li>Your use of the item is restricted to a single installation.</li>
                    <li>You may use the item in work which you are creating for your own purposes or for your client.</li>
                    <li>You must not incorporate the item in a work which is created for redistribution or resale by you or your client.</li>
                    <li>The item may not be redistributed or resold.</li>
                    <li>If the item contains licensed components, those components must only be used within the item and you must not extract and use them on a stand-alone basis.</li>
                    <li>If the item was created using materials which are the subject of a GNU General Public License (GPL), your use of the item is subject to the terms of the GPL in place of the foregoing conditions (to the extent the GPL applies).</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    License - Theme Vessel
{% endblock %}