{% extends 'layouts/default.twig' %}

{% block banner %}
    <!-- BANNER AREA START -->
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Terms and Conditions</h1>
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>1. General Terms</h3>
                <hr/>
                <p>
                    1.1 By accessing and placing an order with ThemeVessel, you confirm that you are in agreement
                    with and bound by the terms and conditions contained in the Terms Of Use outlined below.
                    These terms apply to the entire website and any email or other type of communication between you and ThemeVessel.
                </p>
                <br/>

                <h3>2. Products</h3>
                <hr/>
                <p>2.1 All products and services are delivered by ThemeVessel electronically to your email address.</p>
                <p>
                    2.2 ThemeVessel is not responsible for any technological delays beyond our control. If your spam
                    blocker blocks our emails from reaching you or you do not provide a valid email address where you can be
                    reachable then you can access your download from the Purchases page.
                </p>
                <br/>

                <h3>3. Security</h3>
                <hr/>
                <p>
                    3.1 ThemeVessel does not process any order payments through the website.
                    All payments are processed securely through PayPal,
                    a third party online payment provider. Feel free to contact us about our security policies.
                </p>
                <br/>

                <h3>4. Refunds</h3>
                <hr/>
                <p>
                    4.1 You have 24 hours to inspect your purchase and to determine if it does not meet with the expectations
                    laid forth by the ThemeVessel. In the event that you wish to receive a refund, ThemeVessel will issue you a
                    refund and ask you to specify how the product failed to live up to expectations.
                </p>
                <br>

                <h3>5. Ownership</h3>
                <hr/>
                <p>5.1 Ownership of the product is governed by the usage license selected by the ThemeVessel.</p>
                <br/>

                <h3>Changes to terms</h3>
                <hr/>
                <p>
                    If we change our terms of use we will post those changes on this page.
                    Registered users will be sent an email that outlines changes made to the terms of use.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    Terms and Conditions - ThemeVessel
{% endblock %}