.email-subscribe-form.inner h2 span {
    font-size: 14px;
    color: #777;
}
.email-subscribe-form.inner h2 {
    float:left;
    margin-top: -9px;
    font-size: 20px;
}

.email-subscribe-form-elements {
    float: right;
}

.email-subscribe-form-elements p {
    float: left;
    margin-right: 10px;
    font-size: 10px;
    color: #777;
}

.email-subscribe-form-elements p label{
    display: inherit;
}

.email-subscribe-form-elements p .input {
    height: 30px;
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 2px;
}

.email-subscribe-form-elements input[type="submit"] {
    background: #555;
    border: none;
    padding: 10px 15px 9px 15px;
    border-radius: 2px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 18px;
    cursor: pointer;
}

form#sf_shortcode_constantcontact_0_form {
    color: yellowgreen;
    text-transform: uppercase;
}


/*============Media Quires=========*/

@media (max-width: 767px) {

    .email-subscribe-form-elements {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        float: left;
    }

    .email-subscribe-form-elements p {
        clear:both;
        width: 100%;
    }

    .email-subscribe-form-elements input[type="submit"] {
        padding: 11px 15px 10px 15px;
        margin-top: 5px;
        width: 100%;
    }
}