body {
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    background: #EEE;
    color: #777;
}

.container{
    text-align: center;
}

.welcome{
    margin-top: 200px;
    font-size: 66px;
    font-weight: 300;

}

.desc{
    font-size: 14px;
    font-style: italic;
}