<form class="search-form">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-6">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Search your desire item">
            </div>
        </div>
        <div class="col-lg-2">
            <button type="submit" class="search-item-btn">Search Item</button>
        </div>
    </div>
</form>