<div class="item-grid">
    <div class="ribbon ribbon-red"><span>Featured</span></div>
    <img src="https://d85wutc1n854v.cloudfront.net/live/products/icons/WB0R5L90S.jpg?v=2.5" class="thumb">
    <div class="intro">
        <ul class="list-inline ratings pull-left">
            <li><i class="fa fa-star orange-color"></i></li>
            <li><i class="fa fa-star orange-color"></i></li>
            <li><i class="fa fa-star orange-color"></i></li>
            <li><i class="fa fa-star orange-color"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li>(4.5)</li>
        </ul>
        <a class="pull-right review-link">
            <i class="fa fa-comments"></i> (5 review)
        </a>
        <div class="clearfix"></div>
        <h2 class="title"><a href="">{{ product.title }}</a></h2>
        <strong class="price">$22.00</strong>
    </div>
    <a href="#" class="btn live-preview"><span>Live Preview</span></a>
</div>