<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css">

</head>
<body>

<!-- Begin page content -->
<div class="container">
    <div class="mt-1">
        <h1>Application Working</h1>
    </div>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
    <p>Use <a href="../#">the sticky footer with a fixed navbar</a> if need be, too.</p>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<!-- External JS libraries -->
<script src="/assets/js/jquery-2.2.0.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/ie-emulation-modes-warning.js"></script>

<!-- Custom JS Script -->
<script  src="assets/js/app.js"></script>
</body>
</html>
