{% extends 'layouts/default.twig' %}

{% block banner %}
    <!-- BANNER AREA START -->
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Website Templates, Themes, UI Kits From $1.90</h1>
                <h2>
                    Buy creative, modern wordPress themes, web templates, UI kits, graphics and more.
                </h2>
                {% include 'elements/banner-form.twig' %}
                <p class="buttons hidden-sm hidden-xs">
                    <a href="/products?order=sales&sort=desc" class="btn btn-theme-inverse"><span>Most Sold Items</span></a>
                    <a href="/products?featured=true" class="btn btn-theme-inverse"><span>Featured Items</span></a>
                    <a href="/products?popular=true" class="btn btn-theme-inverse"><span>Popular Items</span></a>
                </p>
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->
{% endblock %}

{% block content %}
    <!-- ITEMS AREA START -->
    <div class="items-area">
        <div class="container">
            <div class="item-header">
                <h2>Popular Items</h2>
                <small>All popular items list</small>
            </div>
            <div class="row">
                <!-- Single item -->
                {% for product in products %}
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        {% include 'elements/product-grid.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ITEMS AREA END -->
{% endblock %}