{% extends 'layouts/default.twig' %}

{% block content %}
    <h2 class="welcome">Slim Skeleton</h2>
    <small class="desc">This skeleton built by slim framework, twig template engine and eloquent ORM</small>
{% endblock %}