{% extends 'layouts/auth.twig' %}

{% block content %}
    <div class="register-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="register-info register-bg">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="content-form-box register-box">
                        <div class="login-header"><h4>Create Your account</h4></div>
                        <form action="#" method="GET">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="email" class="form-control" name="email" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="Password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label>Re-type Password</label>
                                <input type="Password" class="form-control" name="password" placeholder="Confirm Password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-color btn-md btn-block">Create New Account</button>
                            </div>
                            <div class="login-footer text-center">
                                <p>Already have an account?<a href="login.html"> Sign In</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}