{% extends '/layouts/default.twig' %}

{% block content %}
    <div class="container">
        <div class="single-block">
            <h1 class="title">Oops!</h1>
            <h2 class="subtitle">Order Cancelled</h2>
            <div class="content">
                <p>Sorry, for your bad experience!</p>
            </div>
        </div>
    </div>
{% endblock %}